<% layout ('layout') %>
<% stylesheet('/stylesheets/css/product.css')%>


<div class="container">

  <% if (messages.success) { %>
  <div class="alert alert-success">
    <%- messages.success %>
  </div>
  <% } %>

  <div>
    <h1>Product</h1>
    <p>Welcome to the products area</p>
  </div>

  <div class="row mb-4">
    <div class="col-md-2 text-center">
      <a href="/?p=1" class="text-dark">所有商品</a>
    </div>
    <!-- <div class="col-md-2 text-center">梅森罐</div> -->
    <!-- <div class="col-md-2 text-center">配件</div> -->
  </div>

  <div class="row">

    <% for(x in products){ %>
    <div class="col-lg-3 col-md-4 rounded  text-center item mb-3 ">
      <div>
        <a href="/product/<%= products[x]._id %>" >
          <img src="<%= products[x].img %>" alt="" class=" w-100 h-100 mt-1">
          <div><%= products[x].itemName %></div>
          <div><%= products[x].price %> 元</div>
        </a>
      </div>
    </div>

    <% } %>

  <!--     <div class="col-12 text-center my-5">
          <a href="" class="px-1">上一頁</a>
          <a href="" class="px-1">1</a>
          <a href="" class="px-1">2</a>
          <a href="" class="px-1">下一頁</a>
      </div> -->

  </div>

</div>

<% script('') %>
