<% layout('layout') %>
<% stylesheet('/stylesheets/css/item.css') %>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-12 ">
      <img src="<%= item.img %>" alt="" class="w-100 border">
    </div>

    <div class="col-md-7 col-12">
      <div class="ml-3">
        <h2 class="" id="itemName" data-hasadded= <%= sameItemIndex %>
           data-id= <%= item._id %> > <%= item.itemName %> </h2>
        <p class="productIntro">
          <% for (let i=0; i<intro.length; i++){ %>
          <%= intro[i] %><br>
          <% } %>
        </p>
        <!-- <br> -->
        <div class="toFlex">
          <div>
            <span class="small text-muted mr-4 my-5">價格</span>
            <span class="text-primary itemPrice"><%= item.price%></span>
            <span class="small text-muted ml-1 my-5">元</span>
          </div>
          <button class="btn btn-danger addtoCartBtn">加入購物車</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="seperateBorder"></div>

  <div class="productTabs">
    <ul class="nav nav-tabs">
      <li class="nav-item" id="desTab">
        <a class="nav-link active"  href="#">產品說明</a>
      </li>
      <li class="nav-item" id="specTab">
        <a class="nav-link " href="#">規格</a>
      </li>
    </ul>
  </div>

</div>

<div class="container my-4">
  <!-- 產品說明 -->
  <div class="mb-5 text-center descript">
    <% for (var i=0; i< des.length; i++ ){ %>
    <p><%= des[i] %></p>
    <% } %>
  </div>

  <!-- 規格 -->
  <div class="mb-5 d-none specification">
    <p>
      <% for (var i=0; i< spe.length; i++){ %>
      <%= spe[i] %><br>
      <% } %>
    </p>
  </div>
</div>


<% script('/javascripts/itemPage.js') %>